<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    function previewFile() {
            var preview = document.querySelector('img');
            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();
          
            reader.onloadend = function () {
              preview.src = reader.result;
            }
          
            if (file) {
              reader.readAsDataURL(file);
            } else {
              preview.src = "";
            }
          }</script>
</head>
<body>
    <!-- <form role="form" action="{%url 'users:hello'%}" method="post">
            {% csrf_token %}
        <button type="submit" class="btn btn-default">222</button>
    </form>
   -->

<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'home' %}">作业批改</a></h1>
            {% if user.is_authenticated %}

            <!-- <p>你已登录，欢迎你： <a href="#">{{ user.username }}</a> </p> -->

                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="active">
                                     <a href="{%url 'home'  %}">首页</a>
                                </li>
                                <li class="">
                                     <a href="{% url 'users:message'%}">作业查看</a>
                                </li>
                                <li>
                                    <a href="{%url 'users:comment'%}">头脑风暴</a>
                               </li>
                               <li>
                                <a href="{%url 'users:Test2'%}">作业成绩（成绩公布后才可以查看）</a>
                              </li>
                                <li class="disabled">
                                     <a href="#">欢迎您{{ user.username }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <form role="form" action="/users/upload/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- <div class="form-group">
                                     <label for="exampleInputEmail1">作业信息</label><input type="email" class="form-control" id="exampleInputEmail1" />
                                </div> -->
                                <!-- <div class="form-group">
                                     <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" /> -->
                                <!-- </div> -->
                                <div class="form-group">
                                     <label for="exampleInputFile">文件上传</label>
<!--                                     <input type="file" onchange="previewFile()"><br>-->
                                     <input type="file" onchange="previewFile()" name="file"><br>
                                     <img src="" height="200" alt="Image preview...">
                                     <!-- <input type="file" id="exampleInputFile" /> -->
                                    <p class="help-block">
                                        上传作业图片
                                    </p>
                                </div>
                                <div class="checkbox">
                                     <!-- <label><input type="checkbox" />Check me out</label> -->
                                </div>
                                <button type="submit" class="btn btn-default">上传</button>
                                <!-- <input type="submit" value='上传'> -->
                            </form>
                        </div>
                    </div>
                </div>
            <button class="btn btn-default">
                <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
            </button>
            <button class="btn btn-default"><a href="{% url 'password_reset' %}?next={{ request.path }}">修改密码</a>
            </button>
            <form class="form" action="{% url 'users:delete' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">删除上传的作业</button>
            </form>
            {% else %}
                <p>你还没有登录，</p>
                    
                    <p>
                        学生请
                    
                    <button class="btn btn-default">
                        <a href="{% url 'login1' %}?next={{ request.path }}">登录</a>
                    </button>
                    </p>
                    <!-- 或者 -->
                    <!-- <button class="btn btn-default">
                        <a href="{% url 'users:register' %}?next={{ request.path }}">注册</a>
                    </button>
                    <br>
                    <br>
                    <br> -->
                    <p>
                        老师请
                        
                    <button class="btn btn-default">
                            <a href="{% url 'users:Login_teacher' %}?next={{ request.path }}">登录</a>
                    </button>
                    </p>
                </p>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html> 


