<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand " href="#">后台管理系统</a>
                        </div>
                        <div id="navbar" class="navbar-right">
                            <a class="navbar-brand" href="#">当前用户：{{user.username}}</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row" style="padding-top: 45px">
            <div class="col-md-3">
                <div class="list-group">
                    <!--激活，作为标题-->
                    <!-- <p  class="list-group-item active ">
                        系统菜单
                    </p> -->
                    <a   class="list-group-item ">
                        系统菜单
                    </a>
                    <a href="{% url 'users:学生信息' %}" class="list-group-item">学生信息</a>
                    <a href="{% url 'users:作业批改'%}" class="list-group-item">作业批改</a>
                    <a href="{% url 'users:头脑风暴'%}" class="list-group-item">头脑风暴</a>
                    <!-- <a href="#" class="list-group-item">管理四</a> -->
                    <!-- <a href="{% url 'logout' %}?next={{ request.path }}" class="list-group-item">退出</a>
                     -->
                     <button class="btn btn-default">
                        <a href="{% url 'users:Login_teacher' %}">注销登录</a>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <div>
                    <ol class="breadcrumb">
                        <li><span class="glyphicon glyphicon-home"></span> 
                            <a href="#">主页</a>
                        </li>
                        <li class="active"></li>
                    </ol>
                </div>
                <div align="center" style="padding-top: 50px;">
                    <table class="table table-striped">
                        <!-- <caption>条纹表格布局</caption> -->
                        <thead>
                          <tr>
                            <th>姓名</th>
                            <th>23</th>
                            <th>邮编</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%for user in users %}
                          <tr>
                            <td>{{ user}}</td>
                            <td>{{ user.email}}</td>
                            <td>{{ user.add_time}}</td>
                          </tr>
                          {% endfor%}
                            {%for homeworks in homework %}
                            <tr>
                              <td><a href=#"">{{ homeworks.name}}</a></td>
                              <td>{{ homeworks.id}}</td>
                              <td>{{ homeworks.upload_time}}</td>
                            </tr>
                            {% endfor%}
                          <!-- <tr>
                            <td>Sachin</td>
                            <td>Mumbai</td>
                            <td>400003</td>
                          </tr> -->
                          <!-- <tr>
                            <td>Uma</td>
                            <td>Pune</td>
                            <td>411027</td>
                          </tr> -->
                        </tbody>
                      </table>
                    <tbody>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div align="center" style="padding-top: 200px">
                    Copyright © 2017-2018 larger5
                </div>
            </div>
        </div>
    </div>


</body>
</html>