<!-- {% load Main_tags %}

{% get_recent_posts as recent_post_list %}
<ul>
  {% for post in recent_post_list %}
  <li>
    <a href="{{post.get_absolute_url}}">{{ post.grade_name }}</a>
  </li>
  {% empty %}
  暂无文章！
  {% endfor %} -->

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>头脑风暴</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</head>

<body>
    <div class="flex-center">
        <div class="container">
            <div>
                <!-- <h1 class="logo"><a href="{% url 'login1' %}">毕业设计</a></h1> -->
                {% if user.is_authenticated %}
                <!-- <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-fixed-top" role="navigation">
                                <div class="container">
                                    <div class="navbar-header">
                                        <a href="" class="navbar-brand " href="#">毕业设计-老师</a>
                                        <!-- <h1 class="logo"><a href="{% url 'login1' %}">毕业设计</a></h1> -->
                                    </div>
                                    <div>
                                        <a class="navbar-brand" href="#">当前用户：{{user.username}}</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 45px">
                        <div class="col-md-3">
                            <div class="list-group">
                                <!--激活，作为标题-->
                                <!-- <p  class="list-group-item active ">
                                          系统菜单
                                      </p> -->
                                <a href="{% url 'Main:老师主页' %}" class="list-group-item  ">
                                    系统菜单
                                </a>
                                <a href="{% url 'Main:作业批改'%}" class="list-group-item ">作业批改</a>
                                <!-- <a href="" class="list-group-item">作业批改</a> -->
                                <a href="{% url 'Main:老师a页面' %}" class="list-group-item active">头脑风暴</a>
                                <!-- <a href="#" class="list-group-item">管理四</a> -->
                                <!-- <a href="{% url 'logout' %}?next={{ request.path }}" class="list-group-item">退出</a>
                                       -->

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div>
                                <ol class="breadcrumb">
                                    <li><span class="glyphicon glyphicon-home"></span> 
                                        <a href="{% url 'Main:老师a页面'%}">头脑风暴</a>
                                    </li>
                                    <li class="active"></li>
                                </ol>
                            </div>
                            <!-- <form action="{% url 'Main:老师b页面'%}" method="POST">
                                      {% csrf_token %}
                                    <h3>问题:</h3>
                                    <input type="text" class="form-control" placeholder="Text input" name="Question">
                                    <div align="right"> -->
                            <!-- <button class="btn btn-info" type="submit">
                                        发布问题
                                    </button> -->
                            <!-- Button trigger modal -->
                            <div align="right">
                                <button type="button" class="btn btn-primary " data-toggle="modal"
                                    data-target="#myModal">
                                    发布问题
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel">输入需要发布的问题</h5>
                                            </div>
                                            <form action="{% url 'Main:老师b页面'%}" method="POST">
                                                {% csrf_token %}
                                                <input type="text" class="form-control" placeholder="Text input"
                                                    name="Question">
                                                <input type="hidden" value="{{ grade }}" name="grade">
                                                <div align="right">
                                                    <div class="modal-footer">
                                                        <button class="btn btn-info" type="submit">
                                                            发布问题
                                                        </button>
                                                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                        <!-- <form action="{% url 'Main:老师c页面'%}" method="POST">
                            {% csrf_token %}
                            <div style="padding-top:30px;">
                                <p>输入回答:</p>
                                <textarea class="form-control" rows="6" name="Answer"></textarea>
                            </div>
                            <div align="right">
                                <button class="btn btn-info" type="submit"">提交</button>
                                    </div>
                                    <input type="hidden" value="{{ grade }}" name="grade2">
                        </form> -->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" >
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="btn btn-info" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne" style="padding-left: 27px;padding-right: 27px;">
                                            添加Thread
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <form action="{% url 'Main:老师c页面'%}" method="POST">
                                            {% csrf_token %}
                                            <div>
                                                <p>输入回答:</p>
                                                <textarea class="form-control" rows="6" name="Answer"></textarea>
                                            </div>
                                            <div align="center">
                                                <button class="btn btn-info" type="submit"">提交Thread</button>
                                            </div>
                                            <input type="hidden" value="{{grade}}" name="grade">
                                                    <input type="hidden" value="{{ grade }}" name="grade2">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="btn btn-info" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo" >
                                            添加Thread观点
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        选择Thread
                                        <form action="{% url 'Main:老师g页面'%}" method="POST">
                                            {% csrf_token %}
                                            <div style="padding-top:10px;">
                                                <select class="form-control" name="answer">
                                                    {% for answer1 in answer %}
                                                    <!-- <option value="">{{name}}</option> -->
                                                    <option value="{{ answer1 }}">{{ answer1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            输入观点：
                                            <div align="center">
                                                <textarea class="form-control" rows="6" name="th1"></textarea>
                                                {% for b in question%}
                                                <input type="hidden" value="{{b}}" name="question">
                                                {%endfor%}
                                                <button class="btn btn-info" type="submit">提交Thread观点</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                    <div class="panel-heading" role="tab" id="headingfive">
                                        <h4 class="panel-title">
                                            <a class="btn btn-info" role="button" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapsefive" aria-expanded="false"
                                                aria-controls="collapsefive">
                                                点评Thread观点
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsefive" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingfive">
                                        <div class="panel-body">
                                            选择Thread
                                            <form action="{% url 'Main:老师h页面'%}" method="POST">
                                                {% csrf_token %}
                                                <div style="padding-top:10px;">
                                                    <select class="form-control" name="answer">
                                                        {% for answer1 in answer %}
                                                        <!-- <option value="">{{name}}</option> -->
                                                        <option value="{{ answer1 }}">{{ answer1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                输入观点：
                                                <div align="center">
                                                    <textarea class="form-control" rows="6" name="th1"></textarea>
                                                    {% for b in question%}
                                                    <input type="hidden" value="{{b}}" name="question">
                                                    {%endfor%}
                                                    <button class="btn btn-info" type="submit">提交Thread观点</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div style="padding-top:5px;">
                            <form action="{% url 'Main:老师d界面'%}" method="POST">
                                {% csrf_token%}
                                <div align="right">
                                    <input type="hidden" value="{{grade}}" name="gradess">
                                    <button class="btn btn-info" type="submit">
                                        结束我的问题
                                    </button>
                                </div>
                            </form>
                            <div style="padding-top:3px;">
                                <h5 style="word-break:break-all; word-wrap:break-all;">当前班级是：{{ grade }}</h5>
                                {% for a in question %}
                                <h4 style="word-break:break-all; word-wrap:break-all;">当前问题是：{{ a }}</h4>
                                {% endfor %}
                            </div>
                            <!-- <div style="padding-top:3px;"> -->

                            <!-- </div> -->
                        </div>

                        <table class="table table-hover">
                            <!-- <caption>条纹表格布局</caption> -->
                            <tr>
                                <th width='130px'>Thread提出者</th>
                                <th class="text-center">Thread内容</th>
                            </tr>
                            </thead>
                            <tbody>
                                {%for answers in answer %}
                                <tr>
                                    <td width='130px' style="padding:5px;">{{ answers.answer_who }}</td>
                                    <!-- <td class="text-left" style="word-break:break-all; word-wrap:break-all;">
                                        {{ answers }}</td> -->
                                    <td style="padding:5px;" width="400px">
                                        <div align="center">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse"
                                                            data-parent="#accordion" href="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            {{answers}}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse"
                                                    role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="list-group">
                                                        {% for bb in answers.thread_set.all %}
                                                        <ul class="list-group" align="left">
                                                            <li class="list-group-item"
                                                                style="word-break:break-all; word-wrap:break-all;margin: 5px;padding: 5px;">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">
                                                                        <a
                                                                            style="color:#889e76;">{{bb.thread_who}}：</a>{{bb}}
                                                                    </font>
                                                                </font>
                                                            </li>
                                                        </ul>
                                                        {% endfor%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        <!-- <tr>
                                              <td>Sachin</td>
                                              <td>Mumbai</td>
                                              <td>400003</td>
                                            </tr> -->
                        <!-- <tr>
                                              <td>Uma</td>
                                              <td>Pune</td>
                                              <td>411027</td>
                                            </tr> -->

                    </div>
                </div>
            </div>

        </div>
        <button class="btn btn-default">
            <!-- <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a><br> -->

        </button>
        {% else %}
        <div>
            <ol class="breadcrumb">
                <li><span class="glyphicon glyphicon-home"></span> 
                    <a>你还没有登录</a>
                </li>
                <li class="active"></li>
            </ol>
        </div>

        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div align="center" style="padding-top: 250px">
                    <button class="btn btn-default">
                        <!-- <a class="navbar-brand" href="#">当前用户：{{user.username}}</a> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>