<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
   <div>
         <H2 class="text-center">{{aa}}的作业</H2> 
   </div>
      <!-- 
           <p>
              aa:{{aa}}<br>
              img:{{img}}<br>
              stu:{{stu}}<br>
              ss:{{ss}}<br>
           </p>
       -->
<div class="float-left">
      <img src="{{ MEDIA_URL }}{{img.img}}" width="850px" >
</div>
<div class="float-right">
   <br>
   <br>
   <br>
   <br>
      <form action="{% url 'users:批改'%}" method="POST" >
         {% csrf_token %}
            <!-- <label>
                <input type="radio" name="A" value="A+">A+<br>
                <input type="radio" name="A" value="A">A<br>
                <input type="radio" name="A" value="A-">A-<br>
                <input type="radio" name="A" value="B+">B+<br>
                <input type="radio" name="A" value="B">B<br>
                <input type="radio" name="A" value="C">C<br>
                <input type="radio" name="A" value="D">D<br>
            </label> -->
            <!-- <select class="selectpicker">
                  <option value="1">广东省</option>
                  <option value="2">广西省</option>
                  <option value="3">福建省</option>
                  <option value="4">湖南省</option>
                  <option value="5">山东省</option>                            
              </select> -->
              <input type="hidden" value=" {{aa}} " name="username1">
            <input type="submit" value="提交">
    </form>  
</div>

</body>
</html>


