<!-- {% load Main_tags %}

{% get_recent_posts as recent_post_list %}
<ul>
  {% for post in recent_post_list %}
  <li>
    <a href="{{post.get_absolute_url}}">{{ post.grade_name }}</a>
  </li>
  {% empty %}
  暂无文章！
  {% endfor %} -->

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="flex-center">
        <div class="container">
            <div>
                <!-- <h1 class="logo"><a href="{% url 'login1' %}">毕业设计</a></h1> -->
                {% if user.is_authenticated %}
                <!-- <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p> -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-fixed-top" role="navigation">
                                <div class="container">
                                    <div class="navbar-header">
                                        <a href="" class="navbar-brand " href="#">毕业设计-老师</a>
                                        <!-- <h1 class="logo"><a href="{% url 'login1' %}">毕业设计</a></h1> -->
                                    </div>
                                    <div>
                                        <a class="navbar-brand" href="#">当前用户：{{user.username}}</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 45px">
                        <div class="col-md-3">
                            <div class="list-group">
                                <!--激活，作为标题-->
                                <!-- <p  class="list-group-item active ">
                                          系统菜单
                                      </p> -->
                                <a href="{% url 'Main:老师主页'%}" class="list-group-item  active">
                                    系统菜单
                                </a>
                                <a href="{% url 'Main:作业批改'%}" class="list-group-item">作业批改</a>
                                <!-- <a href="" class="list-group-item">作业批改</a> -->
                                <a href="{% url 'Main:老师a页面' %}" class="list-group-item">头脑风暴</a>
                                <!-- <a href="#" class="list-group-item">管理四</a> -->
                                <!-- <a href="{% url 'logout' %}?next={{ request.path }}" class="list-group-item">退出</a>
                                       -->

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div>
                                <ol class="breadcrumb">
                                    <li><span class="glyphicon glyphicon-home"></span> 
                                        <a href="#">创建班级</a>
                                    </li>
                                    <li class="active"></li>
                                </ol>
                            </div>
                            <div align="center" style="padding-top: 50px;">
                                <h2>{% now "Y-m-d "%}</h2>
                                <form action="{% url 'Main:创建班级名称'%}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" class="form-control"
                                        placeholder="输入所要创建班级名称(名称只能由中文和数字组成,不支持任何符号)" name="grade_name">
                                    <!-- <span id="helpBlock" class="help-block">名称只能由中文和数字组成,不支持任何符号</span> -->
                                    <button type="submit" class="btn btn-info">创建</button>
                                </form>

                                <button class="btn btn-default">
                                    <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
                                </button>
                                <button class="btn btn-default">
                                    <a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a>
                                </button>
                                <!-- <tr>
                                              <td>Sachin</td>
                                              <td>Mumbai</td>
                                              <td>400003</td>
                                            </tr> -->
                                <!-- <tr>
                                              <td>Uma</td>
                                              <td>Pune</td>
                                              <td>411027</td>
                                            </tr> -->

                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-default">
                    <!-- <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a><br> -->

                </button>
                {% else %}
                <div>
                    <ol class="breadcrumb">
                        <li><span class="glyphicon glyphicon-home"></span> 
                            <a>你还没有登录</a>
                        </li>
                        <li class="active"></li>
                    </ol>
                </div>
                <div>
                    <ol class="breadcrumb">
                        <li><span class="glyphicon glyphicon-home"></span> 
                            <p>学生请：</p>
                            <button class="btn btn-default"><a
                                    href="{% url 'login1' %}?next={{ request.path }}">登录</a></button>
                            <button class="btn btn-default"><a href="{% url 'Main:学生注册' %}">注册</a></button>
                        </li>
                    </ol>
                </div>
                <div>
                    <ol class="breadcrumb">
                        <li><span class="glyphicon glyphicon-home"></span> 
                            <p>老师请：</p>
                            <button class="btn btn-default"><a
                                    href="{% url 'Main:老师登陆' %}?next={{ request.path }}">登录</a></button>
                        </li>
                        <li class="active"></li>
                    </ol>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div align="center" style="padding-top: 250px">
                            <button class="btn btn-default">
                                <!-- <a class="navbar-brand" href="#">当前用户：{{user.username}}</a> -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>